@model MediaReviews.Controllers.WelcomeData

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Welcome</title>
</head>
<body>
    <h1>@Model.Message</h1>
    <div>
        
    </div>
</body>
</html>
